/*@import 'core/variables';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/
@import 'core/reset';


.header{
   
    &__title{
        
    }
    &__form{
        
        &--label{
            
        }
        &--input{
            
        }
        &--btn{
            
        }
    }
   
}



.main{
    background-color: rgb(161, 145, 145);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // display: grid;
    // grid-template-columns: 1fr 250px;
}

.favourites{
   &__Title{
    
   }
   &__List{
    background-color: aquamarine;
   }
}
.characters{
    &__Title{
       
    }
    &___List{
        
    }
    &__Loading{
        
    }
    &___Articles{
        cursor: pointer;
        &___Item{
            &--img{
                width: 100px;
            }
            &--h3{
                
            }
            &--p{
    
            }
        }
    }
    
}
.footer{
    &__p{

    }
}

// clases para marcar como favoritos un article

.selected{
    background-color: aqua;
}