/*@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'pages/index';
*/
@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/footer';



.main{
    display: flex;
    font-family:$font-roboto;
    padding-top: 100px;
    background-color: $white;
}

.favourites{
   padding-left: 50px;
   padding-bottom: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   &__resetBtn{
    background-color: $light-orange;
    border-radius: 5%;
    border: none;
    color: $white;
    cursor: pointer;
    width: 80px;
    height: 30px;
    margin-top:18px;
 
   }
   &__Title{
    width: 235px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: $orange;
   }
}
.characters{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 43px;
  
    &__Title{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
        color: $orange;


    }
    &___List{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    &__Loading{
        font-weight: 700;
        font-size: 20px;
        padding: 12px 6px 0px 13px;
        text-align: center;
        
    } 
   
    
    &___Articles{
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin-left: 20px;
        width: 200px;
        height: 300px;
        padding-bottom: 15px;
        margin: 10px;
        box-shadow: 5px 5px 20px rgb(174, 152, 110); 
        &___Item{
            text-align: center;
            padding-top: 10px;
            &--img{

                width: 172px;
                height: 250px;
                object-fit: cover;
            }
            &--h3{
                padding-top: 5px;
                font-size: 15px;
                font-weight: 700;
    
            }
            &--p{
                padding-top: 6px;
                opacity: 60%;
            }
        }
    }

}


// clases para marcar como favoritos un article

.selected{
    background-color: $light-orange;
    
}

// clase para ocultar seccion de favourites.

.hidden{
display: none;
}

//hover del botón reset

.favourites__resetBtn:hover{
    background-color: $orange;
}